/* Fuentes:
- Roboto: 400 | 400 Italic | 700 | 700 Italic | 900 | 900 Italic
- Poppins: 400 | 400 Italic | 700 | 700 Italic | 900 | 900 Italic
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Roboto:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

/* ELEMENTOS */
body {
    font-family: 'Roboto', 'Poppins', sans-serif;
    background-color: #1F2023;
}

h1 {
    color: white;
    font-size: 45px;
    font-weight: 900;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    border: 20px solid;
    border-color: #4D6D63 #1F2023;
}

fieldset {
    background-color: #D6E2DE;
    border-color: #56796E;
    border-width: 2px;
    border-radius: 5px;
}

legend {
    font-weight: 900;
    color: white;
    background-color: #4D6D63;
    padding: 10px;
    border-radius: 5px;
}

footer {
    color: white;
    margin-top: 30px;
}

button {
    font-size: 20px;
    color: #A6C19C;
    background-color: #2B3D37;
    padding: 15px 20px;
    margin: 10px 20px;
    border: 2px solid #56796E;
    border-radius: 5px;
}

/* CLASES */
.center {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}

.flex_vertical {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.flex_horizontal {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.input_size {
    width: 500px;
    height: 30px;
    margin-top: 10px;
    border: 1px solid #4D6D63;
    border-radius: 5px;
}

.input_size:hover {
    color: whitesmoke;
    background-color: #4D6D63;
}

.text_area_size {
    width: 500px;
    height: 150px;
    margin-top: 10px;
    border: 1px solid #4D6D63;
    border-radius: 5px;
}

.text_area_size:hover {
    color: whitesmoke;
    background-color: #4D6D63;
}

.radio_buttom {
    margin-top: 3px;
    margin-right: 10px;
    margin-left: 3px;
}

.placeholder {
    text-align: right;
}

.dotted_line {
    width: 300px;
    margin: 25px auto;
    border-bottom: 15px dotted #A6C1B9;
}

