/* Fuentes:
- Notable: 400
- Monserrat Alternates: 400 | 700 | 900
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;700;900&family=Notable&display=swap');

/* ELEMENTOS */
body {
    background: url("../img/peliculas-background.webp") no-repeat center center fixed;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Montserrat Alternates', sans-serif;
    color: yellow;
    font-weight: 700;
}

h1 {
    font-family: Notable, sans-serif;
    font-size: 45px;
    font-weight: 900;
    position: relative;
    width: 360px;
    height: 125px;
    margin: auto;
    background: red;
    border-radius: 50% 10%;
    color: white;
    text-align: center;
    text-indent: .1em;
}

fieldset {
    border-color: #F4F00C;
    background-color: rgba(76, 5 ,89, 0.5);
    border-width: 5px;
    border-radius: 5px;
}

legend {
    font-weight: 900;
    color: #080F8E;
    background-color: #F3E3F7;
    padding: 10px;
    border-radius: 5px;
}

footer {
    margin-top: 30px;
}

button {
    font-size: 20px;
    color: #19F20E;
    background-color: rgba(76, 5 ,89, 0.5);
    padding: 15px 20px;
    margin: 10px 20px;
    border: 20px solid;
    border-image-source: url('../img/peliculas-popcorn.webp');
    border-image-slice: 60 30;
}

button:hover {
    font-size: 25px;
    background-color: black;
}

/* CLASES */
.center {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}

.flex_vertical {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.flex_horizontal {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.input_size {
    width: 500px;
    height: 30px;
    margin-top: 10px;
    border: 3px solid #19F20E;
    border-radius: 5px;
}

.input_size:hover {
    color: antiquewhite;
    background-color: #7E1F8E;
}

.text_area_size {
    width: 500px;
    height: 150px;
    margin-top: 10px;
    border: 3px solid #19F20E;
    border-radius: 5px;
}

.text_area_size:hover {
    color: antiquewhite;
    background-color: #7E1F8E;
}

.radio_buttom {
    margin-top: 3px;
    margin-right: 10px;
    margin-left: 3px;
}

.placeholder {
    text-align: right;
}

.dotted_line {
    width: 300px;
    margin: 25px auto;
    border-bottom: 15px dotted #19F20E;
}